<%= content_for(:page_title, "Sign In") %>
<h1>Sign In</h1>
<%= form_with(url: logins_path, local: true) do |f| %>
  <div>
    <%= f.label :username %>
  </div>
  <div>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.submit "Sign In" %>
  </div>
<% end %>

