<%= form_with(model: event, local: true) do |form| %>
  <div>
    <%= form.label :event_name,"Event Title: " %>
    <%= form.text_field :event_name %>
  </div>

  <br/>

  <div>
    <%= form.label :description, "Event Details: " %>
    <%= form.text_area :description %>
  </div>

  <br/>

  <div>
    <%= form.label :event_venue, "Venue: " %>
    <%= form.text_field :event_venue %>
  </div>

  <br/>

  <div>
    <%= form.label :event_date, "Date: " %>
    <%= form.datetime_select :event_date %>
  </div>
  <br/>

  <div>
    <% form.label :creator_id, "Event Host: " %>
    <%= form.number_field :creator_id, id: :even_creator_id, value: current_user.id, type: :hidden %>
  </div>

  <br/>
  <br/>

  <div>
    <%= form.submit "Create Event" %>
  </div>
<% end %>