<% content_for(:page_title, "Private Events") %>
<section>
  <h2>Events</h2>
  <%= link_to 'Create Event', new_event_path  %>
  <h3>Upcoming Events</h3>
  <% Event.upcoming.each do |event| %>
    <h4><%= event.event_name.capitalize %> | <%= event.event_date %></h4>
    <br/>    
  <% end %>

  <h3>Previous Events</h3>
  <% Event.past.each do |event| %>
    <h4><%= event.event_name.capitalize %> | <%= event.event_date %></h4>
    <br/>    
  <% end %>
</section>

