<% content_for(:page_title, "Private Events") %>
<section>
  <h2>Events</h2>
  <%= link_to 'Create Event', new_event_path  %>
  <% @events.each do |event| %>
    <h3>
      Event Title: <%= event.event_name %>
    </h3>
    <br/>
    <div>
      Event Details: <%= event.description %>
    </div>
    <br/>
    <div>
      Venue: <%= event.event_venue %>
    </div>
    <br/>
    <div>
      Event Host: <%= event.creator_id %>
    </div>
    <br/>
    <div>
      Event Venue: <%= event.event_date %>
    </div>
    <br/>     
  <% end %>
</section>

